@model IEnumerable<MyWeb1._0.Models.User>

@{
    ViewData["Title"] = "InfoUser";
}

<h1>Информация о новых пользователях</h1>
<table class="table">
     <tr><th>Имя</th><th>Фамилия</th><th>Возраст</th><th>Почта</th></tr>
    @foreach (var item in Model)
    {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
                    </td>
                    <td>
                           <form asp-controller="Info" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                        <input type="submit" value="Удалить"/>
                    </form>
                    </td>
                </tr>
    }
</table>

<main class="button">
 <a href="/Home">Вернуться на главную</a>
</main>
